*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#ff4b91,#ff7eb3,#ffd6e8);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
}

.hero{
    text-align:center;
    color:white;
    animation:fadeIn 2s ease;
}

h1{
    font-size:55px;
}

h2{
    font-size:42px;
    margin-top:15px;
}

h3{
    margin-top:10px;
    font-size:28px;
}

.quote{
    margin:30px auto;
    font-size:22px;
    width:85%;
    line-height:1.7;
}

button{
    background:white;
    color:#ff2e7a;
    border:none;
    padding:18px 35px;
    font-size:20px;
    border-radius:50px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.1);
    background:#ffe6f0;
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(40px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
